{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
  Change Password
{% endblock %}
{% block content %}
  <div class="d-flex justify-content-center mt-5 p-3">
    <form style="max-width: 600px;" class="glass w-100 p-4 position-relative rounded rounded-5" method="post">
      <h1>Password change</h1>
      <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
      {% csrf_token %}
      {{ form|crispy }}
      <input class="mt-4 btn btn-lg btn-primary px-4 mb-2 w-100" type="submit" value="Change my password" />
    </form>
  </div>
{% endblock %}
