{% load static %}
<div class="container-sm mx-auto mt-5">
  <div style="max-width: 500px;" class="px-5 glass container-sm rounded rounded-5 z-3 py-5 justify-content-center">
    <h1 class="text-primary display-4 fw-bold text-center">WatchY</h1>
    <div class="border-top border-2 p-4 mt-3">
      <h3 class="fw-light text-white">-Access to WatchY Orginal movies and TV</h3>
      <h3 class="fw-light text-white">-Tons to showstopping shows</h3>
      <h3 class="fw-light text-white">-Loads to unforgettable movies</h3>
      <h3 class="fw-light text-white">-New content added weekly</h3>
      <h3 class="fw-light text-white">-Ad Free</h3>
    </div>

    {% if subbed == False %}
      <div class="p-5 d-flex justify-content-center">
        {% if user.is_authenticated %}
          <button type="button" class="p-2 text-center btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#Subscribe">Subscribe €11.99/month</button>
        {% else %}
          <button type="button" class="py-3 px-4 text-center btn btn-lg btn-primary"><a class="text-decoration-none link-light" href="{% url 'login' %}">Subscribe €11.99/month</a></button>
        {% endif %}
      </div>
    {% else %}
      <div class="p-5 d-flex justify-content-center">
        <button type="button" class="p-2 text-center btn btn-lg btn-danger" data-bs-toggle="modal" data-bs-target="#Subscribe">Cancel Subscription</button>
      </div>
    {% endif %}
  </div>

  {% if subbed == False %}
    <div class="modal" id="Subscribe" tabindex="-1" aria-labelledby="SubscribeLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel">Subscribe to Watchy</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p class="h4 fw-normal">€11.99 a month</p>
          </div>
          <div class="modal-footer">
            <form action="" method="POST">
              {% csrf_token %}
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button align-self-center" data-key="{{ data_key }}" data-amount="{{ stripe_total }}" data-name="Watchy" data-description="{{ description }}" data-image="{% static 'watchY.png' %}" data-email="{{ user.email }}" data-locale="auto" data-currency="eur" data-shipping-address="false" data-billing-address="true" data-zip-code="true"></script>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="modal" id="Subscribe" tabindex="-1" aria-labelledby="SubscribeLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel">Cancel Watchy Subscription?</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p class="fw-normal h3">Are you sure you want to cancel your subscription?</p>
          </div>
          <div class="modal-footer">
            <form action="" method="POST">
              {% csrf_token %}
              <button type="submit" class="p-2 text-center btn btn-lg btn-danger"  name="type" value="Unsubscribe">Cancel Watchy Subscription</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>
